.message__card{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: white;
    background-color: blue;
    text-align: right !important;
}