.message__card{
    padding: 10px;
    margin: 10px;
    width: fit-content;
    
}
.messenger__header{
    display: flex;
    position: fixed;
    background-color: #e9e9eb;
    z-index: 100;
}
.messenger__header__img{
    cursor: pointer;
}
.message__user{
    margin-left: auto;
    color: white;
    text-align: right !important;
    
}
.messenger__app {
    text-align: center;
  }
  
  .message_usercard{
    background-color: #0b81ff !important;
    padding: 10px;
}
.message__guestcard{
    background-color: #e9e9eb !important;
    padding: 10px;
}

.messenger__form{
    padding: 20px;
    background-color: #e9e9eb;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    margin: 20px;
    
}

.messenger__formcontrol{
    display: flex ;
    flex-direction: row;
}
/* .messenger__formcontrol > Input{
    flex: 1;
} */
.messenger__iconbutton{
    flex: 0;
}